################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/New Install Cleanup/.vs/New Install Cleanup/v16
